.jumbotron{
	background-color: #044d63;
	color: white;
	margin-top:50px;
}
footer{
	padding:10px 10px 0 10px;
	background-color: #044d63;
	margin-bottom: 0px;
	margin-top: 10px;
}
.item-hotel{
	flex: 1 200px;
	padding: 2px 0px;
	margin-top: 10px;
}
.btn-reserver{
	width: 100%;
	border-radius: 0px;
}
.btn-iconic
{
	padding-right: 10px;
}
.footer-addres{
	color: white;
}
.footer-addres-icon{
	padding-right: 10px;
}